@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;900&display=swap');
/******************** */
/*     CSS RESET      */
/******************** */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.7;
	color: #364d59;
	font-weight: 400;
	font-size: 1rem;
	font-family: 'Work Sans', sans-serif;
}
a {
	text-decoration: none;
}
/*************************** */
/*     GENERAL CLASSES       */
/*************************** */
.traveler__content__paragragh {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.small-text {
	color: #efba6c;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.background-text {
	position: absolute;
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 900;
	color: #efefef;
	top: -69%;
	z-index: -1;
}
.bottom-text {
	font-size: 1.75rem;
	color: #000;
	font-weight: 500;
	line-height: 1.2;
	text-transform: capitalize;
}
.traveler__content__heading,
.journey__heading {
	position: relative;
}
/********************* */
/*     TARAVELER       */
/********************* */
.traveler {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
	align-items: center;
	margin: 0 130px 0 120px;
}
.traveler__img {
	width: 100%;
}
.traveler__img img {
	width: 100%;
}
.traveler__content__heading {
	margin-bottom: 50px;
}
/********************* */
/*     JOURNEY         */
/********************* */
.journey {
	margin-top: 100px;
	position: relative;
}
.journey__heading {
	text-align: center;
}
.journey__heading .background-text {
	right: 36%;
}

.journey__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin: 50px 120px 0 120px;
	gap: 30px;
}
/***************************** */
/*     BACKGROUNDS ITEMS       */
/***************************** */
.item {
	overflow: hidden;
	position: relative;
}
.item:after {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.31) 47%,
		rgba(0, 0, 0, 0.65) 100%
	);
}
.bg {
	height: 467px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.3s linear;
	transform: scale(1.05);
}
.item:hover .bg {
	transform: scale(1);
}
.btn,
.btn-text {
	color: #fff;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 2;
}
.btn {
	display: inline-block;
	font-size: 12px;
	padding: 5px 30px;
	border-radius: 30px;
	border: none;
	color: #fff;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-color: #efba6c;
	bottom: 60px;
}
.btn-text {
	display: inline-block;
	bottom: 28px;
	width: 100%;
	text-align: center;
}
/********************* */
/*   BACKGROUNDS URL   */
/********************* */
.bg-url-1 {
	background-image: url('../img/ximg_1.jpg.webp');
}
.bg-url-2 {
	background-image: url('../img/ximg_2.jpg.webp');
}
.bg-url-3 {
	background-image: url('../img/ximg_3.jpg.webp');
}
.bg-url-4 {
	background-image: url('../img/ximg_4.jpg.webp');
}
.bg-url-5 {
	background-image: url('../img/ximg_5.jpg.webp');
}
.bg-url-6 {
	background-image: url('../img/ximg_6.jpg.webp');
}
