<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- fontawesome CSS -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
			integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<!-- flaticon CSS -->
		<link rel="stylesheet" href="./assets/css/flaticon/font/flaticon.css" />
		<!-- Custom CSS -->
		<link rel="stylesheet" href="./assets/css/style.css" />
		<title>Watch Shop</title>
	</head>

	<body>
		<!-- NAV -->
		<nav id="#top" class="nav flex justify-between align-center">
			<a class="nav-logo" href="#"
				><img src="./assets/img/logo/logo.webp" alt="logo image"
			/></a>
			<label for="inp">
				<i class="fas fa-bars"></i>
			</label>
			<input type="checkbox" id="inp" />
			<ul class="nav-list flex">
				<li class="nav-list-item">
					<a class="nav-list-link" href="#">Home</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-list-link" href="#">Shop</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-list-link" href="#">About</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-list-link" href="#">Latest</a>
					<ul class="nav-dropdown">
						<li><a href="#">Product List</a></li>
						<li><a href="#">Product Details</a></li>
					</ul>
				</li>
				<li class="nav-list-item">
					<a class="nav-list-link" href="#">Blog</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-list-link" href="#">Pages</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-list-link" href="#">Contact</a>
				</li>
			</ul>
			<div class="icons flex">
				<i class="flaticon-search"></i>
				<i class="flaticon-user"></i>
				<i class="flaticon-shopping-cart"></i>
			</div>
		</nav>
		<!-- HERO -->
		<section class="hero">
			<div class="container">
				<div class="hero-wrapper flex">
					<div class="hero-heading self-center">
						<h1 class="hero-title">Select Your New Perfect Style</h1>
						<p class="hero-description">
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat is aute irure.
						</p>
						<a class="btn" href="#">SHOP NOW</a>
					</div>
					<div class="hero-img">
						<img src="./assets/img/hero/watch.webp" alt="watch image" />
					</div>
				</div>
			</div>
		</section>
		<!-- ARRIVALS -->
		<section class="arrivals">
			<div class="container">
				<h2 class="arrivals-heading">New Arrivals</h2>
				<div class="arrivals-wrapper flex">
					<div class="arrivals-item flex dir-col">
						<div class="arrivals-img-box">
							<img
								class="arrivals-img"
								src="./assets/img/gallery/new_product1.webp"
								alt="warch image 1"
							/>
						</div>
						<div class="arrivals-description">
							<h3 class="arrivals-title">
								<a href="#">Thermo Ball Etip Gloves</a>
							</h3>
							<span class="arrivals-price">$ 45,743</span>
						</div>
					</div>
					<div class="arrivals-item flex dir-col">
						<div class="arrivals-img-box">
							<img
								class="arrivals-img"
								src="./assets/img/gallery/new_product2.webp"
								alt="warch image 2"
							/>
						</div>
						<div class="arrivals-description">
							<h3 class="arrivals-title">
								<a href="#">Thermo Ball Etip Gloves</a>
							</h3>
							<span class="arrivals-price">$ 45,743</span>
						</div>
					</div>
					<div class="arrivals-item flex dir-col">
						<div class="arrivals-img-box">
							<img
								class="arrivals-img"
								src="./assets/img/gallery/new_product3.webp"
								alt="warch image 3"
							/>
						</div>
						<div class="arrivals-description">
							<h3 class="arrivals-title">
								<a href="#">Thermo Ball Etip Gloves</a>
							</h3>
							<span class="arrivals-price">$ 45,743</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- GALLERY -->
		<section class="gallery grid">
			<div class="gallery-item grid-custom-1">
				<img src="./assets/img/gallery/gallery1.webp" alt="watch image" />
			</div>
			<div class="gallery-item grid-custom-2">
				<img src="./assets/img/gallery/gallery2.webp" alt="watch image" />
			</div>
			<div class="gallery-item">
				<img src="./assets/img/gallery/gallery3.webp" alt="watch image" />
			</div>
			<div class="gallery-item">
				<img src="./assets/img/gallery/gallery4.webp" alt="watch image" />
			</div>
		</section>
		<!-- POPULAR -->
		<section class="popular">
			<div class="container">
				<div class="title">
					<h2>Popular Items</h2>
					<p>
						Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
						gravida.
					</p>
				</div>
				<div class="pairent">
					<div class="child">
						<div class="box-top">
							<img src="assets/img/gallery/popular1.webp" alt="" />
							<a href="#" class="link-card">Add to cart</a>
							<a href="#" class="link-icon"><i class="far fa-heart"></i></a>
						</div>
						<div class="box-bottom">
							<a href="#" class="link-bottom">Thermo Ball Etip Gloves</a>
							<p>$ 45,743</p>
						</div>
					</div>
					<div class="child">
						<div class="box-top">
							<img src="assets/img/gallery/popular1.webp" alt="" />
							<a href="#" class="link-card">Add to cart</a>
							<a href="#" class="link-icon"><i class="far fa-heart"></i></a>
						</div>
						<div class="box-bottom">
							<a href="#" class="link-bottom">Thermo Ball Etip Gloves</a>
							<p>$ 45,743</p>
						</div>
					</div>
					<div class="child">
						<div class="box-top">
							<img src="assets/img/gallery/popular1.webp" alt="" />
							<a href="#" class="link-card">Add to cart</a>
							<a href="#" class="link-icon"><i class="far fa-heart"></i></a>
						</div>
						<div class="box-bottom">
							<a href="#" class="link-bottom">Thermo Ball Etip Gloves</a>
							<p>$ 45,743</p>
						</div>
					</div>
					<div class="child">
						<div class="box-top">
							<img src="assets/img/gallery/popular1.webp" alt="" />
							<a href="#" class="link-card">Add to cart</a>
							<a href="#" class="link-icon"><i class="far fa-heart"></i></a>
						</div>
						<div class="box-bottom">
							<a href="#" class="link-bottom">Thermo Ball Etip Gloves</a>
							<p>$ 45,743</p>
						</div>
					</div>
					<div class="child">
						<div class="box-top">
							<img src="assets/img/gallery/popular1.webp" alt="" />
							<a href="#" class="link-card">Add to cart</a>
							<a href="#" class="link-icon"><i class="far fa-heart"></i></a>
						</div>
						<div class="box-bottom">
							<a href="#" class="link-bottom">Thermo Ball Etip Gloves</a>
							<p>$ 45,743</p>
						</div>
					</div>
					<div class="child">
						<div class="box-top">
							<img src="assets/img/gallery/popular1.webp" alt="" />
							<a href="#" class="link-card">Add to cart</a>
							<a href="#" class="link-icon"><i class="far fa-heart"></i></a>
						</div>
						<div class="box-bottom">
							<a href="#" class="link-bottom">Thermo Ball Etip Gloves</a>
							<p>$ 45,743</p>
						</div>
					</div>
					<div class="child">
						<button class="btn">View More Products</button>
					</div>
				</div>
			</div>
		</section>
		<!-- BG-VIDEO -->
		<section
			class="bg-video"
			style="background-image: url(assets/img/bg/sectin_bg1.webp)"
		>
			<button class="btn-icon"><i class="fas fa-play"></i></button>
			<div class="next-video">
				<p>NEXT VIDEO</p>
				<a href="#"><i class="fas fa-arrow-right"></i></a>
			</div>
		</section>
		<!-- SHOW-WATCHES -->
		<section class="show-watches">
			<div class="container">
				<div class="grid-wrapper">
					<div class="show-desciption">
						<h2>Watch of Choice</h2>
						<p>
							Enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse.
						</p>
						<a class="btn" href="#">SHOW WATCHES</a>
					</div>
					<div class="show-img">
						<img
							src="./assets/img/gallery/choce_watch1.webp"
							alt="choce_watch1"
						/>
					</div>
					<div class="show-img">
						<img
							src="./assets/img/gallery/choce_watch2.webp"
							alt="choce_watch2"
						/>
					</div>
					<div class="show-desciption">
						<h2>Watch of Choice</h2>
						<p>
							Enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse.
						</p>
						<a class="btn" href="#">SHOW WATCHES</a>
					</div>
				</div>
			</div>
		</section>
		<!-- METHODS -->
		<section class="methods">
			<div class="container">
				<div class="flex-wrapper">
					<div class="method">
						<i class="fas fa-cube"></i>
						<h6>Free Shipping Method</h6>
						<p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
					</div>
					<div class="method">
						<i class="fas fa-unlock"></i>
						<h6>Secure Payment System</h6>
						<p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
					</div>
					<div class="method">
						<i class="fas fa-sync"></i>
						<h6>Secure Payment System</h6>
						<p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- FOOTER -->
		<footer class="footer">
			<div class="container">
				<div class="footer-grid">
					<div class="time-zone-col">
						<a class="img-box" href="#">
							<img
								src="./assets/img/logo/logo2_footer.webp"
								alt="logo footer"
							/>
						</a>
						<p>
							Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf
							sed do eiusmod tem.
						</p>
					</div>
					<div class="time-zone-col">
						<h4>Quick Links</h4>
						<ul>
							<li><a href="#">About</a></li>
							<li><a href="#">Offers & Discounts</a></li>
							<li><a href="#">Get Coupon</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
					<div class="time-zone-col">
						<h4>New Products</h4>
						<ul>
							<li><a href="#">Woman Cloth</a></li>
							<li><a href="#">Fashion Accessories</a></li>
							<li><a href="#">Man Accessories</a></li>
							<li><a href="#">Rubber madea Toys</a></li>
						</ul>
					</div>
					<div class="time-zone-col">
						<h4>Support</h4>
						<ul>
							<li><a href="#">Frequently Asked Questions</a></li>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Report Payment Issue</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-bottom">
					<p>
						Copyright &copy;2021 All rights reserved | This template is made
						with <span class="heart">&#10084;</span> by
						<a href="#" class="colorlib">Colorlib</a>
					</p>
					<div class="social-icons">
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-behance"></i></a>
						<a href="#"><i class="fas fa-globe"></i></a>
					</div>
				</div>
			</div>
		</footer>
		<a id="scroll-up" href="#top">
			<i class="fas fa-level-up-alt"></i>
		</a>
		<!-- fontawesome JS -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/js/all.min.js"
			integrity="sha512-cyAbuGborsD25bhT/uz++wPqrh5cqPh1ULJz4NSpN9ktWcA6Hnh9g+CWKeNx2R0fgQt+ybRXdabSBgYXkQTTmA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
	</body>
</html>
