<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Custom Favicons -->
		<link
			rel="icon"
			href="./content/assets/img/favicons/cropped-favicon-32x32.png"
			sizes="32x32"
		/>
		<link
			rel="icon"
			href="./content/assets/img/favicons/cropped-favicon-192x192.png"
			sizes="192x192"
		/>
		<link
			rel="apple-touch-icon-precomposed"
			href="./content/assets/img/favicons/cropped-favicon-180x180.png"
		/>
		<!-- fontawesome CSS -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="content/css/main.css" />
		<title>Bakery</title>
	</head>
	<body>
		<!-- HEADER -->
		<header id="header" class="header relative">
			<!-- NAV -->
			<nav class="nav flex align-center justify-between">
				<a href="#">
					<img
						class="nav__logo"
						src="content/assets/img/bakery-color.png"
						alt="bakery logo"
					/>
				</a>
				<ul class="nav__list flex align-center">
					<li class="nav__item"><a class="nav__link" href="#">Home</a></li>
					<li><a class="nav__link" href="#">About</a></li>
					<li><a class="nav__link" href="#">Our Offer</a></li>
					<li><a class="nav__link" href="#">Gallery</a></li>
					<li><a class="nav__link" href="#">Blog</a></li>
					<li><a class="nav__link" href="#">Contact</a></li>
				</ul>
			</nav>
			<!-- HERO -->
			<div class="hero flex dir-col align-center justify-center w-100 absolute">
				<p class="hero__description">Welcome to</p>
				<h1 class="hero__title">Family Bakery</h1>
				<p class="hero__description w-50">
					We're the biggest, best equipped and most advanced Bakery in the
					greater Los Angeles area.
				</p>
				<div class="hero__buttons flex justify-center gap-1">
					<a href="#" class="hero__btn btn">Learn More</a>
					<a href="#" class="hero__btn btn btn--transparent">Contact us</a>
				</div>
			</div>
			<!-- SLIDER -->
			<div class="slider absolute text-center">
				<a class="absolute" href="#who-we-are">
					<span class="absolute"></span>
				</a>
			</div>
		</header>
		<!-- MAIN -->
		<main class="main">
			<!-- WHO-WE-ARE -->
			<section id="who-we-are" class="w-100 container flex gap-9">
				<div class="img-box w-50 relative">
					<div class="bg absolute bg-color--1"></div>
					<div class="bg-text absolute">
						<h2>Baked with the best ingredients</h2>
					</div>
					<img
						class="who-we-are__img"
						src="./content/assets/img/alexandru-stavrica-170390-800x760.jpg"
						alt="who-we-are__img"
					/>
				</div>
				<div class="w-50">
					<h2 class="title">Who we are?</h2>
					<p class="description">
						We have been operating for over 30 years and are Members of The
						Federation of Master Builders. We work on projects big and small
						from small residential extensions to full house.&nbsp;We are so
						happy with this theme. Everyday it make our lives better.
					</p>
					<div class="flex dir-col gap-2">
						<div class="flex align-center gap-2">
							<i id="icon" class="fab fa-envira"></i>
							<p>We care about environment</p>
						</div>
						<div class="flex align-center gap-2">
							<i id="icon" class="fas fa-users"></i>
							<p>We are trusted by hundreds of clients.</p>
						</div>
						<div class="flex align-center gap-2">
							<i id="icon" class="fas fa-heart"></i>
							<p>Social media loves us!</p>
						</div>
						<div class="flex align-center gap-2">
							<i id="icon" class="fas fa-check"></i>
							<p>This list is super easy to create.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- LOCATION -->
			<section class="location w-100 container flex align-center gap-9">
				<div class="w-50">
					<h2 class="title">Our Location</h2>
					<p class="description">
						We have been operating for over 30 years and are Members of The
						Federation of Master Builders. We work on projects big and small
						from small residential extensions to full house. We are so happy
						with this theme. Everyday it make our lives better.
					</p>
					<p class="description">
						Story on projects big and small from small residential extensions to
						full house. We are so happy with this theme. Everyday it make our
						lives better.
					</p>
				</div>
				<div class="img-box w-50 relative">
					<div class="bg absolute bg-color--2"></div>
					<div class="bg-text absolute">
						<h2>Unspeakably delicious</h2>
					</div>
					<img src="./content/assets/img/full-2-800x640.jpg" alt="full-2" />
				</div>
			</section>
			<!-- BAKING -->
			<section class="baking container">
				<div class="text-center">
					<h2 class="title">Our Baking</h2>
					<p class="description">
						Learn more about them. We have worked truly hard to make them
						perfect for every use.
					</p>
				</div>
				<!-- BAKING-GRID -->
				<div class="grid grid--3-cols gap-4">
					<div>
						<div class="img-box relative">
							<div class="bg-text absolute">
								<h2>Bread for Success</h2>
							</div>
							<div class="bg absolute bg-color--3"></div>
							<img
								src="./content/assets/img/ben-garratt-134774-600x500.jpg"
								alt="ben-garratt"
							/>
						</div>
						<h4 class="title title--custom text-center">Superior Breads</h4>
						<p class="description text-center">
							Proin interdum, ante ut sollicitudin commodo, tellus quam sagittis
							libero, at semper mauris velit a velit. Phasellus commodo turpis
							et lacinia posuere.
						</p>
					</div>
					<div>
						<div class="img-box relative">
							<div class="bg-text absolute">
								<h2>It’s a taste Of Paradise</h2>
							</div>
							<div class="bg absolute bg-color--4"></div>
							<img
								src="./content/assets/img/stas-ovsky-123540-600x500.jpg"
								alt="ben-garratt"
							/>
						</div>
						<h4 class="title title--custom text-center">Superior Breads</h4>
						<p class="description text-center">
							Proin interdum, ante ut sollicitudin commodo, tellus quam sagittis
							libero, at semper mauris velit a velit. Phasellus commodo turpis
							et lacinia posuere.
						</p>
					</div>
					<div>
						<div class="img-box relative">
							<div class="bg-text absolute">
								<h2>But first Croissant</h2>
							</div>
							<div class="bg absolute bg-color--5"></div>
							<img
								src="./content/assets/img/clem-onojeghuo-206832-600x500.jpg"
								alt="ben-garratt"
							/>
						</div>
						<h4 class="title title--custom text-center">Superior Breads</h4>
						<p class="description text-center">
							Proin interdum, ante ut sollicitudin commodo, tellus quam sagittis
							libero, at semper mauris velit a velit. Phasellus commodo turpis
							et lacinia posuere.
						</p>
					</div>
				</div>
			</section>
			<!-- CONTACT -->
			<section class="contact w-100 container flex gap-9">
				<div class="w-50">
					<h2 class="title">Contact Information</h2>
					<p class="description">
						I am text block. Click edit button to change this text. Lorem ipsum
						dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
						nec ullamcorper mattis, pulvinar dapibus leo.
					</p>
					<p class="description">Our contact details:</p>
					<div class="flex dir-col gap-2">
						<div class="flex align-center gap-2">
							<i id="icon" class="icon--custom far fa-map"></i>
							<p>Manchester St 123-78B, Random 713, UK</p>
						</div>
						<div class="flex align-center gap-2">
							<i id="icon" class="icon--custom fas fa-phone-alt"></i>
							<p>+46 123 456 789</p>
						</div>
						<div class="flex align-center gap-2">
							<i id="icon" class="icon--custom fas fa-headphones"></i>
							<p>+37 431 456 789</p>
						</div>
						<div class="flex align-center gap-2">
							<i id="icon" class="icon--custom far fa-envelope"></i>
							<p>hello@sitename.com</p>
						</div>
					</div>
				</div>
				<div class="w-50">
					<iframe
						class="iframe w-100"
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76792.53798506597!2d-74.01835180640431!3d40.72865513153091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2seg!4v1630984181267!5m2!1sen!2seg"
						frameborder="0"
						width="600"
						height="600"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
					></iframe>
				</div>
			</section>
		</main>
		<!-- FOOTER -->
		<footer class="footer">
			<div class="footer-top container grid grid--4-cols gap-3">
				<div class="footer-top__widget">
					<h4 class="footer-top__title">About us</h4>
					<p class="footer-top__description">
						I am text block. Click edit button to change this text. Lorem ipsum
						dolor sit amet, consectetur. I am text block. Click edit button to
						change this text. Lorem ipsum dolor sit amet, consectetur.
					</p>
					<p class="footer-top__description">
						We are the champions! We are the most amazing theme of all time,
						yeah.
					</p>
				</div>
				<div class="footer-top__widget">
					<h4 class="footer-top__title">Why we are special?</h4>
					<ul class="footer-top__list flex dir-col gap-1">
						<li class="footer-top__item chevron-right">Our magical recipe.</li>
						<li class="footer-top__item chevron-right">
							We care about environment.
						</li>
						<li class="footer-top__item chevron-right">
							We are trusted by hundreds of clients.
						</li>
						<li class="footer-top__item chevron-right">
							Social media loves us!
						</li>
						<li class="footer-top__item chevron-right">
							This list is super easy to create.
						</li>
					</ul>
				</div>
				<div class="footer-top__widget">
					<h4 class="footer-top__title">Opening Hours</h4>
					<ul class="footer-top__list flex dir-col gap-1">
						<li class="footer-top__item chevron-right">Monday 10AM - 9PM</li>
						<li class="footer-top__item chevron-right">Tuesday 10AM - 9PM</li>
						<li class="footer-top__item chevron-right">Wednesday 10AM - 9PM</li>
						<li class="footer-top__item chevron-right">Thursday 10AM - 10PM</li>
						<li class="footer-top__item chevron-right">Friday 10AM - 10PM</li>
						<li class="footer-top__item chevron-right">Weekends 10AM - 11PM</li>
					</ul>
				</div>
				<div class="footer-top__widget">
					<h4 class="footer-top__title">Contact Details</h4>
					<div class="footer-top__list flex dir-col gap-1">
						<div class="footer-top__item flex align-center gap-2">
							<i class="fas fa-map-marker-alt"></i>
							<p>Manchester Road 123-78B, Silictown 7854MD, Great Country</p>
						</div>
						<div class="footer-top__item flex align-center gap-2">
							<i class="fas fa-phone-alt"></i>
							<p>
								<a class="footer-top__link" href="tel:+46 123 456 789"
									>+46 123 456 789</a
								>
							</p>
						</div>
						<div class="footer-top__item flex align-center gap-2">
							<i class="fas fa-envelope"></i>
							<p>
								<a class="footer-top__link" href="mailto: hello@sitename.com"
									>hello@sitename.com</a
								>
							</p>
						</div>
						<div class="footer-top__item flex align-center gap-2">
							<i class="fas fa-globe-asia"></i>
							<p>
								<a class="footer-top__link" href="https://www.sitename.com"
									>http://www.sitename.com</a
								>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div
				class="
					footer-bottom
					container
					flex
					dir-col
					justify-center
					align-center
					gap-2
				"
			>
				<div class="footer-bottom__img-box">
					<img
						class="footer-top__img"
						src="./content/assets/img/bakery-light-1.png"
						alt="bakery light"
					/>
				</div>
				<p class="footer-bottom__copyright">
					Copyright 2017. All rights reserved.
				</p>
				<div class="flex justify-center align-center gap-1">
					<a
						class="
							footer-bottom__icon-link
							facebook--bg
							flex
							justify-center
							align-center
						"
						href="#"
						><i class="footer-bottom__icon fab fa-facebook-f"></i
					></a>
					<a
						class="
							footer-bottom__icon-link
							google--bg
							flex
							justify-center
							align-center
						"
						href="#"
						><i class="footer-bottom__icon fab fa-google-plus-g"></i
					></a>
					<a
						class="
							footer-bottom__icon-link
							linkedin--bg
							flex
							justify-center
							align-center
						"
						href="#"
						><i class="footer-bottom__icon fab fa-linkedin-in"></i
					></a>
					<a
						class="
							footer-bottom__icon-link
							twitter--bg
							flex
							justify-center
							align-center
						"
						href="#"
						><i class="footer-bottom__icon fab fa-twitter"></i
					></a>
				</div>
			</div>
			<a id="scrollup-btn" href="#header">
				<i class="fas fa-angle-up"></i>
			</a>
		</footer>
		<!-- fontawesome JS -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"
			integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
	</body>
</html>
