* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar a {
	color: #fff;
	text-decoration: none;
}
