body{
  width: 100%;
}
section{
  width: 80%;
  margin: 0 auto;
}
div{
  display: inline-block;
  width: 226px;
  height: 205px;
  text-align: center;
  margin-right: 30px;
  background-color: rgb(249, 249, 253);
}